{% extends "base.html" %}
{% block title %}Password Recovery{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<style>
    #formHeader {
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 70px;
        text-align: center;
    }

    #signin {
      text-decoration: none;
      color: black;
    }

    #signin:hover{
        opacity: 0.5;
    }

    #register{
        text-decoration: none;
        color: grey;
        opacity: 0.6;
    }

    #register:hover{
        color:black;
        opacity: 0.7;
    }
    
</style>
<div class="container">
    <br>
    <h2 id="formHeader" class="animated bounceIn">Forget Password</h2>
    <div class="row justify-content-center">
        <div class="col-6" id="formContent">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="POST" action="">
                <div class="form-group">
                    {{ render_field(form.username, class="form-control") }}
                </div>
                <input id="submitButton" style="text-align: center;" type="submit" value="Submit" class="btn btn-primary"/>
            </form>
            <br>
        </div> <!-- col -->
    </div> <!-- row -->
</div> <!-- container -->
{% endblock %}