{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<style>
#formHeader{
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 70px;
    text-align: center;
}

#signin {
      text-decoration: none;
      color: grey;
      opacity: 0.6;
    }

#signin:hover{
    opacity: 0.7;
    color: black;
}

#register{
    text-decoration: none;
    color: black;
}

#register:hover{
    color:black;
    opacity: 0.7;
}
</style>
<div class="container">
    <br>
    <h2 id="formHeader" class="animated bounceIn"><a href="/Signin" id="signin">Sign In</a> <span style="color: rgba(232, 232, 232, 1);">/</span> <a href="/Register" id="register">Register</a></h2>
<div class="row justify-content-center">
<div class="col-8" id="formContent">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
<form method="POST" action="">
    <div class="form-group">
        {{ render_field(form.username, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.email, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.password, class="form-control") }}
    </div>
    <div class="form-group">     
        {{ render_field(form.question, class="form-control") }}   
    </div> 
    <div class="form-group">
        {{ render_field(form.answer, class="form-control") }}
    </div>
    <div class="form-group">
        <input type="checkbox" required>&nbsp;I accept to the <a href="#">Terms of Use</a> & <a href="#">Privacy Policy</a>
    </div>
    <input id="submitButton" type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->
{% endblock %}