{% extends "base.html" %}
{% block title %}Password Recovery{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<style>
    #formHeader {
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 70px;
        text-align: center;
    }

    #signin {
      text-decoration: none;
      color: black;
    }

    #signin:hover{
        opacity: 0.5;
    }

    #register{
        text-decoration: none;
        color: grey;
        opacity: 0.6;
    }

    #register:hover{
        color:black;
        opacity: 0.7;
    }
    
</style>
<div class="container">
    <br>
    {% if expired == False %}
    <h2 id="formHeader" class="animated bounceIn">Reset Password</h2>
    <div class="row justify-content-center">
        <div class="col-7" id="formContent">
            {% with messages = get_flashed_messages(category_filter=["password"]) %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>
                {% for x in message %}
                    {{x}}
                    <br>
                {% endfor %}
                </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span>
                {{message}} <a href="/Signin" style="text-decoration: none;">Click here</a> to sign in
                </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="POST" action="">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group">
                    {{ render_field(form.password, class="form-control") }}
                </div>
                <input id="submitButton" style="text-align: center;" type="submit" value="Submit" class="btn btn-primary"/>
            </form>
            <br>
        </div> <!-- col -->
    </div> <!-- row -->
    {% else %}
    <div class="row justify-content-center">
      <h4 style="margin-top: 20%;">The link is invalid or has expired. <a href="/Forget" style="text-decoration: none;">Click here</a> to try again.</h4>
    </div>
    {% endif %}
</div> <!-- container -->
{% endblock %}