{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
    h3, h6{
        font-weight: bold;
    }
    #end{
        margin-bottom: 100px;
    }
</style>
<h1 style="text-align: center; margin-top: 10px;">ABOUT INDIRECT HOME GYM</h1>
<br>
<h3 style="color: #3d7bb2;">Online Shop</h3>
<h5>We are a group of people that enjoys helping you achieve your fitness goals through means of building an affordable and quality home gym that meets your exercise regime and budget. That's why we have created this website aimed on building a place in comfort of your own home dedicated to reaching attaining your goals at the most affordable price. We guarantee price beat within Singapore.

    <br><br>Yes! You can construct a home gym for less money than you think. The biggest mistake people make is having big dreams of getting fit, yet at the expense of your excessive monetary investment in making public gyms richer while you get poorer by spending on gym memberships or a branded treadmill. Sometimes these equipment are under-utilized and go to waste. With our help, you can now welcome a fully functional home gym that will stand the test of time for less than gym membership. Not only is a home gym a healthy and sound investment, it will prove to be of good resale value as well.
    
    <br><br>We have been working out for the past 8 years in a HDB flat and can testify that space is not a constraint. If your concern is space, we are here to help. We will customize your space with the best pricing options. If you need ideas, we will send you some photos of the Singapore home gym we have built.</h5>
{% endblock %}
