{% extends "base.html" %}
{% block title %}Products{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static',filename='css/Products.css')}}">
<style>
/* Centered text */
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  visibility: hidden;
  cursor: pointer;
} 

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 25px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
{% endblock %}

{% block content %}
{% from "includes/_formhelper.html" import render_field %}
 
<div>
<div id="mySidenav" class="sidenav" style='background-color:white;'>
    <a href="javascript:void(0)" style='margin-top:56px;'class="closebtn" onclick="closeNav()">&times;</a>
    <section style="margin:20px;">
    <h3>Search Products</h3>
    
    <form action="" method='POST'>
      <div class="input-group w-100">
        {{ render_field(form.Search, class="form-control", placeholder="Search...") }}
        <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        </div>
      </div>
    </form>
    </section>
    <hr>
    <section style="padding:15px;">
        <h4>Product Categories</h4>
            <div class="form-check">
              <div class="form-check">
                <a class='nav-link'href="#">
                    Barbell
                </a>
              </div>
              <div class="form-check">
                  <a class='nav-link'href="#">
                      Racks
                  </a>
              </div>
              <div class="form-check">
                <a class='nav-link' href="#">
                    Bench
                </a>
              </div>
  
              <div class="form-check">
                <a class='nav-link'href="#">
                    Plates
                </a>
              </div>
            </div>
    </section>
  </div>
  <div class="js-off-canvas-overlay is-overlay-fixed is-visible is-closable"></div>

</div>
    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
      <h1 class="my-4" style="text-align: center; font-size: 60px;">All Products</h1>
      <a href="#" onclick="openNav()" style="text-decoration: none; color: black;" id="filter"><i class="fas fa-bars"></i>&nbsp;Filter</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <br>
      <br> 

    <div id="content" class="row">
      <!-- test -->
      {% for i in products %}
        {% if i[7] != "inactive" %}
          <div class="col-lg-3 col-md-4 col-6">
            <div class="d-block mb-4 h-100" onmouseover="display(this);" onmouseout="hide(this);">
                <img class="img-fluid" src="/static/img/{{i[2]}}">
                  <div class="centered">
                    <a href="/Add/{{i[0]}}" title="Add to Shopping Cart"><i class="fas fa-shopping-cart fa-2x icon" style="color:black;"></i></a> &nbsp; &nbsp; 
                    <a href="/Reviews/{{i[0]}}" title="View"><i class="fas fa-eye fa-2x icon" style="color:black;"></i></a>
                  </div>
                  <h6 style="text-align: center;"><strong>{{i[1]}}</strong></h6>
                  <h6 style="text-align: center;">${{ i[4] }}</h6>
            </div>
          </div>

          <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <div>
              <img class="img-fluid" src="/static/img/{{i[2]}}" height=200 width=200 style="float:left";>
              <h3 style="display: inline;padding-left:200px ;" >Reviews</h3>
            </div>
            </div>
          
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>

  <!-- The Modal -->

    <!-- Button trigger modal -->
    <!--Just a comment-->
    <script>
          /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
          function openNav() {
          document.getElementById("mySidenav").style.width = "325px";
          document.getElementById("main").style.padding = "20px";
          document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
          }

          /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
          function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft = "0";
          document.body.style.backgroundColor = "white";
          }
          function closeNavbody(){
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft = "0";
          document.body.style.backgroundColor = "white";
          }

          var modal = document.getElementById("myModal");
          var btn = document.getElementById("Mybtn");
          var span = document.getElementsByClassName("close")[0];
          btn.onclick = function() {
            modal.style.display = "block";
          }
          span.onclick = function() {
            modal.style.display = "none";
          }
          window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
            }
            }

    </script>

{% endblock %}

{% block scripts %}
<script>
function display(icon){
    icon.children[1].children[0].children[0].style.visibility='visible'; 
    icon.children[1].children[1].children[0].style.visibility='visible';
    icon.children[0].style.opacity = "0.4";

    icon.children[1].children[0].children[0].setAttribute('class', "fas fa-shopping-cart fa-2x icon animated fadeInUp"); 
    icon.children[1].children[1].children[0].setAttribute('class', "fas fa-eye fa-2x icon animated fadeInUp");
  }
  function hide(icon){
    icon.children[1].children[0].children[0].style.visibility='hidden'; 
    icon.children[1].children[1].children[0].style.visibility='hidden';
    icon.children[0].style.opacity = "1";

    icon.children[1].children[0].children[0].setAttribute('class', "fas fa-shopping-cart fa-2x icon"); 
    icon.children[1].children[1].children[0].setAttribute('class', "fas fa-eye fa-2x icon");
  }
</script>
{% endblock %}
